/* Reset CSS */
body{
  margin:0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:black;
}

.navbar{
  display:flex;
  justify-content: center;
  padding: 20px;
  background-color: black;
  display:flex;
  gap: 100px;
}

.nav-buttons{
  position:relative;
  padding: 10px 20px;
  background-color: black;
  border:none;
  cursor: pointer;
  font-size: 2rem;
  color:white;
  top:0;
  transition: top 0.2s;
}

.nav-buttons:hover{
  top: -10px;
}

.active{
  font-weight: bold; 
  color: rgb(255, 0, 179);
  border-bottom: 2px solid white;
}

.home,.menu, .contact{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
  animation: fadeIn 0.2s;
}

.home{
  background: url('../img/home-background2.jpg');
  background-size: cover;
  /* background-position: center; */
  width: 100%;
}

.home-logo{
  padding: 10px 0 30px 0;
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-logo{
  width: 650px;
  height: 260px;
}

.intro-section{
  margin-top: 100px;
  width: 30%;
  background-color: rgba(0,0,0,0.6);
  height:auto;
  text-align:center;
  color:white;
  padding: 20px;
}

.intro-image{
  margin: 20px 0;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 2px solid white;
}


.menu{
  background-color: white;
}

.contact{
  background: url('../img/contact.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}